pre {
    /*border-radius:10px;*/
    padding:10px 10px;
    width:500px;
    margin:0 auto;
    padding: 10px 15px;
      overflow: auto;
    display: block; 
    background-color: #1d1f20; 
    height:auto;
    color: rgb(255, 255, 255);
  }
  
  /* codepen styling ended */
  
  /* global styles for html styling*/
  /* background */
  pre.background { 
    display: block; 
    background-color: #1d1f20; 
    height:auto;
  }
  pre[data-lang]::before { content: attr(data-lang); display: block; }
  
  /* plain elements */
  pre .plain { 
    color: #fff 
  }
  
  /* html tags */
  pre .tag { 
    color: #9a6e35; 
    font-weight: bold; 
  }
  
  /* class tags */
  pre .classTag {
    color:#ddca7e; 
    font-weight:bold;
  }
  
  /* wrapped in quotes */
  pre .quote {
    color:#96b38a; 
    font-weight:bold;
  }
  
  /* plain text*/
  pre .text {
    color:#ffffff; 
    font-weight:bold;
  }